html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: grey;
  height: 100%;
  width: 100%;
  background: url(../public/pictures/zenitsu.jpg) ; 
  padding-top: 30px;

    /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.navbar{
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  height: auto;
}

.table{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

a {
  color:aliceblue
}

.footer{
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.downlaodBtn{
  margin-left: 10px;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}